<h2>{{ editMode ? 'Editar Perfil' : 'Nuevo Usuario' }}</h2>

<div class="form-section">
  <form #profileForm="ngForm" (submit)="onSubmit()" class="form-row">
    <mat-form-field id="name-form-field">
      <input [(ngModel)]="user.fullName" matInput name="fullName" placeholder="Nombre completo" required />
    </mat-form-field>

    <mat-form-field id="email-form-field">
      <input [(ngModel)]="user.email" matInput type="email" name="email" placeholder="Email" required />
    </mat-form-field>

    <mat-form-field id="restaurant-form-field">
      <input [(ngModel)]="user.restaurant" matInput name="restaurant" placeholder="Restaurante" />
    </mat-form-field>

    <div class="form-actions">
      <button color="primary" mat-raised-button>{{ isEditMode() ? 'Guardar' : 'Agregar' }}</button>
      <button (click)="onCancel()" color="warn" mat-raised-button>Cancelar</button>
    </div>
  </form>
</div>
