<mat-card>
  <mat-card-title>Editar Perfil</mat-card-title>

  <mat-card-content>
    <form #profileForm="ngForm" (ngSubmit)="onSubmit()" class="form-section">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nombre completo</mat-label>
        <input [(ngModel)]="user.fullName" matInput name="fullName" required/>
      </mat-form-field>

      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Email</mat-label>
        <input [(ngModel)]="user.email" matInput type="email" name="email" required/>
      </mat-form-field>

      <div class="form-actions">
        <button mat-raised-button color="primary" type="submit">Guardar</button>
        <button mat-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
