.toolbar {
  display: flex;
  justify-content: center; /* Centra horizontalmente el contenido */
  align-items: center;
  position: relative;
  background-color: grey;
}

.toolbar-content {
  display: flex;
  gap: 10px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

app-language-switcher {
  margin-left: auto;
}
