:host {
  display: flex;
  height: 100vh;
}

app-sidebar-diner,
app-sidebar-restaurant {
  flex-shrink: 0;
  width: 240px;
}

.main-content {
  flex-grow: 1;
  overflow: auto;
  background: #f9f9f9;
}
