<div class="container">
  <div class="panel">
    <div class="panel-heading">
      <div class="left-side">
        <button mat-button class="back-button" [routerLink]="['/posts/']">Volver</button>
      </div>

      <div class="right-side">
        <!-- Botón de Editar / Aceptar -->
        <button mat-button
                class="progress-button"
                [ngClass]="{'red-button': isEditMode}"
                (click)="handleToggleClick()">
          {{ isEditMode ? 'Aceptar' : 'Edit' }}
        </button>

        <!-- Botón de estado -->
        <button mat-button
                [matMenuTriggerFor]="menu"
                [disabled]="!isEditMode"
                class="orange-button">
          {{ selectedStatus }}
        </button>

        <!-- Menú desplegable para seleccionar estado -->
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="selectStatus('Disponible')">Disponible</button>
          <button mat-menu-item (click)="selectStatus('No disponible')">No disponible</button>
        </mat-menu>
      </div>
    </div>

    <div class="panel-body">
      <!-- Título -->
      <div class="title-input-container" *ngIf="isEditMode">
        <input [(ngModel)]="editableTitle"
               name="title"
               placeholder="Title"
               required
               class="title-input">
      </div>
      <span *ngIf="!isEditMode" class="view-mode-text">{{ post.title }}</span>

      <!-- Imágenes -->
      <span>Fotos</span>
      <div class="images-container">
        <img mat-card-image src="https://img-global.cpcdn.com/recipes/c981bb6d3fde7db7/400x400cq70/photo.jpg"
             alt="Post Image" class="content-images">
        <img mat-card-image src="https://resuelveconbimbo-com-v2-assets.s3.amazonaws.com/s3fs-public/2024-01/Banner%20Desktop_Wrap%20de%20Pollo.webp?VersionId=Gi5bWLFSfFnCTn80o5DrZEklPfhs8l3q"
             alt="Post Image" class="content-images">
      </div>


    </div>
  </div>
</div>

