<h2>Restaurantes disponibles</h2>

<div class="restaurant-grid">
  <mat-card *ngFor="let r of restaurants" class="restaurant-card">
    <mat-card-title>{{ r.name }}</mat-card-title>
    <mat-card-subtitle>{{ r.foodType }} - {{ r.address }}</mat-card-subtitle>
    <mat-card-content>
      <p>{{ r.description }}</p>
    </mat-card-content>
    <mat-card-actions>
      <a [routerLink]="['/diner/restaurants', r.id]" mat-button color="primary">Ver platos</a>
      <button mat-button (click)="toggleFavorite(r)">
        <mat-icon>{{ isFavorite(r.id) ? 'favorite' : 'favorite_border' }}</mat-icon>
        {{ isFavorite(r.id) ? 'Quitar' : 'Favorito' }}
      </button>
    </mat-card-actions>
    <mat-chip color="accent" *ngIf="isPremiumRestaurant(r)">
      ⭐ Chef Premium
    </mat-chip>

  </mat-card>
</div>
